@{
    ViewData["Title"] = "Home Page";
}



<div class="form-structor">

	<div class="signup">
		<h2 class="form-title" id="signup"><span>or</span>Sign up</h2>
		<div class="form-holder">
			<input type="text"  id="nameInput" class="input" placeholder="Name" />
			<input type="email" id="emailInput" class="input" placeholder="Email" />
			<input type="password" id="passinput" class="input" placeholder="Password" />
		</div>
		<button id="SignUpButton"  type="button" class="submit-btn">Sign up</button>
	</div>
	<div class="login slide-up">
		<div class="center">
			<h2 class="form-title" id="login"><span>or</span>Log in</h2>
			<div class="form-holder">
				<input type="email" id="emailInput2" class="input" placeholder="Email" />
				<input type="password" id="passinput2" class="input" placeholder="Password" />
			</div>
			<button onclick="SubmitSignIn" id="SignInButton" class="submit-btn">Log in</button>
		</div>
	</div>
</div>