<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineCakeShop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
 
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>

<body class="font-dosis">

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
 @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
